<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добро пожаловать</title>

</head>
<body>
   <h1>Добро пожаловать, {{ username }}!</h1>
    <a href="/users" ><button style="background:purple">Список пользователей</button></a>
    <a href="/methods" ><button style="background:purple">Методы шифрования</button></a>
    <a href="/hack_caesar"><button style="background:purple">Взлом цезаря</button></a>
    <a href="/hack_vigenere"><button style="background:purple">Взлом виженера</button></a>
    <a href="/history_encrypt/{{username}}" ><button style="background:purple">История</button></a>
    <a href="/logout" ><button style="background:red">Выйти</button></a>


   <style>
       body {
            background: green;
            color:black;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
       }
       button {

            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
       }

   </style>
</body>
</html>
